* {
    box-sizing: border-box;
}

.nav_bar {
    background-color: black;

}

body {
    margin: 0;
    padding: 0;
    background-color: #181A1B;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.group:after,
.group:before {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main-header {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-header .row {
    justify-content: space-between;
    align-items: center;
}

.page-title {
    padding-left: 15px;
    margin: 0;
}

.page-title h1 {
    font-size: 20px;
    margin: 0;
}

.page-title,
.main-nav a {
    color: #fff;
}

.main-nav {
    padding-left: 20px;
    flex-grow: 2;
    float: right;
}

.main-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.main-nav a {
    text-decoration: none;
}

.search-bar {
    padding-right: 10px;
}

.search-bar input {
    padding: 10px;
    width: 240px;
    background-color: #181A1B;
    border: 1px solid grey;
}

.search-bar button {
    color: #fff;
    background-color: #005566;
    border: none;
    padding: 12px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.article-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-info {
    margin: 10px;
    float: left;
    position: relative;
    width: calc((100% / 4) - 20px);
}

.article-info img {
    display: block;
    width: 100%;
    height: 300px;
}

.article-info figcaption {
    padding: 20px 10px;
    border: 1px solid #282C35;
    background-color: #282C35;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    word-break: break-all;
    height: 75px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.info-social-block {
    margin-bottom: 20px;
}

.info-block {
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
    float: left;
    width: calc(65% - 20px);
    margin: 10px;
}

.info-header h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.social-block {
    float: right;
    width: calc(35% - 20px);
    margin: 10px;
}

.social-block h2 {
    margin-top: 0;
}

.btn {
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #108ca5;
    border: 1px solid #005566;
    box-shadow: inset 0px 1px 1px 0 #fff;
}

.info-header,
.info-para {
    width: calc((100% / 2) - 20px);
    float: left;
}

.info-header {
    margin-right: 10px;
}

.footer {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #aaa;
    margin-left: 10px;
    margin-right: 10px;
}

.copyright {
    float: left;
    color: white;
}

.footer-links {
    float: right;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    text-decoration: none;
    color: #005566;
}

@media screen and (max-width: 768px) {

    .info-header,
    .info-para {
        width: calc((100% / 1) - 20px);
        float: none;
    }

    .main-product {
        width: calc(35% - 20px);
    }

    .other-products {
        width: calc(65% - 20px);
    }

    .product {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 640px) {
    .search-bar {
        padding-right: 0;
        margin: auto;
        margin-top: 15px;
    }

    .article-info {
        margin: 10px;
        float: left;
        width: calc((100% / 2) - 20px);
    }

    .info-block,
    .social-block,
    .main-product,
    .other-products {
        margin-top: 20px;
        width: calc(100% - 20px);
        float: none;
    }

    .main-product {
        margin-bottom: 50px;
    }

    .product {
        width: calc((100% / 2) - 20px);
        float: left;
        margin-bottom: 40px;
    }

    .product:nth-child(2n+1) {
        margin-left: 0;
    }

    .product:nth-child(2n) {
        margin-right: 0;
        float: right;
    }

    .copyright,
    .footer-links {
        float: none;
    }

    .copyright {
        text-align: center;
    }

    .footer-links {
        margin: auto;
        margin-top: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .article-info {
        float: none;
        width: calc((100% / 1) - 20px);
        margin-bottom: 20px;
    }

    .product {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 20px;
    }
}

.open-button {
    background-color: #005566;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid black;
    z-index: 9;
}

.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: #181A1B;
    color: white;
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #282C35;
    resize: none;
    min-height: 50px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.drag-area {
    border: 2px dashed #fff;
    height: 250px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* for table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*for notification msg */
.alert-msg {}

.article-container {
    margin-left: 10%;
    margin-top: 25px;
}

.save-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.blog-box {
    margin-top: 25px;
    width: 70%;
    padding: 15px 40px;
    color: white;
    margin: auto;
    width: 60%;
}

.blog-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;

}

.blog-image {
    height: auto;
    width: auto;
    margin-top: 30px;
}

.blog-description {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}

.blog-comment {
    background-color: lightgray;
    margin-top: 25px;
    margin-left: 30px;
    width: 20%;
}

.like {
    font-size: 25px;
}

.total-like {
    color: white;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    width: 30%;
}

.alert.success {
    background-color: orange;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.comment-container {
    background-color: black;
    padding: 10px 20px;
    
}
.inner-content {
    margin: auto;
    width: 60%;
    
}
.comment-box {
    width: 500px;
    height: 150px;
}
.comment-btn {
    color: black;
    background-color: orange;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
}
.comment {
    font-size: 1.45rem;
    color: #191919;
    padding: 2px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #f3f6f8;
    float: none;
    clear: both;

}